/*base*/
body {
    margin: 0;
    font-family: 'Mali', cursive;
    background: #f7f6f3; /* same as pomodoro */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* topbarthing */
nav {
  background-color: #dcffdf; /* soft green instead of bright */
  padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 15px;
    font-weight: 500;
}

nav li.title {
    font-size: 1.4em;
    color: #2f2f2f;
    margin-right: auto;
}

nav a {
  color: #2f2f2f;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.2s;
}

nav a:hover {
  background-color: #dcedc8;
}

/* MAIN CONTENT (card like pomodoro) */
.app-container {
    font-family: "Mali", cursive;
    text-align: center;
    font-weight: 700;
    background-color: white;
    padding: 2em;
    border-radius: 2em;
    margin: 3em, 25%;
    opacity: 0.8;
    box-shadow: 0 8px 30px rgba(0,0,0,0.08);
    text-align: center;
    width: 600px;
}


/* TEXT */
main p {
    margin: 10px 0;
    color: #444;
    line-height: 1.6;
}

/* FOOTER */
footer {
    min-height: 50px;
    background-color: #f0fdf4;
     margin-top: 3em;
    padding: 12px;
    font-weight: 200;
    font-style: italic;
    font-size: 0.9em;
    color: #444;
    text-align: center;
  
}
