/*topbarthing*/
nav {
  background-color: #dcffdf; /* soft green instead of bright */
  padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 15px;
    font-weight: 500;
}

nav li.title {
    font-size: 1.4em;
    color: #2f2f2f;
    margin-right: auto;
}

nav a {
  color: #2f2f2f;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.2s;
}

nav a:hover {
  background-color: #dcedc8;
}
